<div class="title">
  <p>
    <!-- #docregion toolbar-simple -->
    <mat-toolbar color="primary">
      <span>Calculadora de Dinheiro</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with home icon">
        <mat-icon><a href="/">home</a></mat-icon>
      </button>
    </mat-toolbar>
    <!-- #enddocregion toolbar-simple -->
  </p>
</div>


<app-moedas (moedas)="atualizarMoedas($event)" *ngIf="moedas">

</app-moedas>

<app-cedulas (totalGeral)="atualizarTotalGeral($event)" (cedulas)="atualizarCedulas($event)" *ngIf="cedulas">

</app-cedulas>

<div class="footer">
    <mat-toolbar color="primary" class="text">
      Total Moedas: R$ {{totalMoedas.toFixed(2)}} Total Cédulas: R$ {{totalCedulas.toFixed(2)}}  Total: R$ {{totalGeral.toFixed(2)}}
    </mat-toolbar>
</div>
