*  {
  margin:0;
  padding:0;
}
.footer {
  padding-top: 2.5rem;
  position: absolute;
  bottom: 0;
  width:100%;
}
@media(max-width: 1000px) {
  .footer {
    position: sticky;
  }
}
@media(max-height: 1000px) {
  .footer {
    position: -webkit-sticky;
  }
}

.example-spacer {
  flex: 1 1 auto;
}


.text {
  font-size: 1.6vh;
}

a {
  text-decoration: none;
  color: white;
}
